[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "engine/vendor/stb"]
	path = engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "engine/vendor/tinyobjloader"]
	path = engine/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "engine/vendor/entt"]
	path = engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "engine/vendor/assimp"]
	path = engine/vendor/assimp
	url = https://github.com/assimp/assimp.git
